{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% endblock %}
{% block sidebar %}
    {{block.super}}
    <li><a href="{% url 'messages_outbox' %} "><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;{% trans "Sent Messages" %}</a></li>
    <li><a href="{% url 'messages_compose' %} "><i class="fa fa-reply" aria-hidden="true"></i>&nbsp;{% trans "New Message" %}</a></li>
    <li><a href="{% url 'messages_trash' %} "><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;{% trans "Trash" %}</a></li>
{% endblock %}
