/*
    This is a remake of the original css file. We have tried to move
    as much as possible to the bootstrap css file.  
    In this file we will have mostly customizations for the ids and
    classes used by our cms and templates.

    Pallete:
        Gray stripe colors:   light #9e957e / dark #8b836f (*)
        Orange stripe colors: light #f68a1e / dark #e68c30 (*)
        Shadows color:        #787160
 
    (*) The light shades are also the colors of the logo.
*/

/* body style */
body {
  margin: 0;
  font-family: "Lato", "Roboto Slab", "Merriweather", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
  background-color: #000000;
  padding: 20px 0px 20px 0px;
}

body:after{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.98) 90%),  url(../img/original.jpg);
    z-index: -1;
}

.jumbotron {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 22.5px;
  font-weight: 200;
  line-height: 31.5px;
  color: #000000;
  background-color: #ffffff;
  border: 0px solid #376c94;
}

/* top container style */
body > .container {
    background: #fff;
	color: #333333;
    padding: 12px;

    behavior: url(/s/pie/PIE.htc);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 5px 5px 5px #787160;
    -webkit-box-shadow: 5px 5px 5px #787160;
    box-shadow: 5px 5px 5px #787160;
}


/* content style */
#content {
    /* nothing yet */
}

/* footer style */
#footer {
    height: auto;
    font-size: 10px;
    padding: 15px 0px;
}
#footer p {
    margin: 2px 0px 2px 0px;
}
#footer img {
    vertical-align: middle;
}


/* form style */
form { padding: 5px; }
form tr th { text-align: left; }
form table input { width: 90%; }
form table input[type=submit] { font-size: 105%; }
form table, form td, form thead {
    border: 0px;
    padding: 2px;
    vertical-align: middle;
}


h1.blog-entrytitle a, h1.blog-entrytitle a:hover {
    /*font-weight:normal;*/
    text-decoration: none;
    color: #000000;/*fff;*/
}
h1.blog-entrytitle a:hover:after {
    font-size: 90%;
    content: " \21B5";
}
p.date {
    border: 1px solid #DA0047;
    /*background: #308BC7;*/
    background: #fff;/*#A7A79F;*/
    color: #000000;/*fff;*/
    text-align: left;
    font-size: 110%;
    margin-bottom: .5em;
    padding: 0px 0px 0px 5px;

    behavior: url(/s/pie/PIE.htc);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
p.entry-tags {
    border: 1px dotted #9e957e;
    font-size: 90%;
    margin-top: 1.5em;
    margin-bottom: 3em;
    clear: both;
  
}

p.entry-tags a, p.entry-tags a:hover{

	color: #DA0047;

}

span.notranslate{
	color: #000000;
}

/* styles for django cms plugins */
.plugin_picture.align-left   { display: block; margin: 2px 0px; float: left; margin-right: 8px; }
.plugin_picture.align-right  { display: block; margin: 2px 0px; float: right; margin-left: 8px; }
.plugin_picture.align-center img { display: block; margin: auto; }
@media print {
    .plugin_picture.align-left,
    .plugin_picture.align-right { float: none; }

}

/* debug classes */
.red-border { border: solid red 2px;}
.green-border { border: solid green 2px;}
.blue-border { border: solid blue 2px;}
.black-border { border: solid black 2px;}

/* no shadows here */
body > .container {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}





h1
{
   color: #ffffff;
/*   text-align:center;*/
 }
h2,
h3,
h4,
h5,
h6 {
   color: #000000;
/*   text-align:center;*/
 }


h2 {
    border: 1px solid #9e957e;
    border-radius: 5px;
    clear: both;
    padding-left: 5px;
    padding-right: 5px;
}
 

p {text-align:justify}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.iconspan {
    padding-right: 40px;
}

.table tbody tr.data {
      background-color: #d9edf7 !important;
}

.disabled_icon {
    color: #bababa;
}
