/*
    This is a remake of the original css file. We have tried to move
    as much as possible to the bootstrap css file.  
    In this file we will have mostly customizations for the ids and
    classes used by our cms and templates.

    Pallete:
        Gray stripe colors:   light #9e957e / dark #8b836f (*)
        Orange stripe colors: light #f68a1e / dark #e68c30 (*)
        Shadows color:        #787160
 
    (*) The light shades are also the colors of the logo.
*/

/* body style */
body {
    color: #fff;
    padding: 20px 0px 20px 0px;
}


/* top container style */
body > .container {
    background: #fff;
	color: #333333;
    padding: 12px;

    behavior: url(/s/pie/PIE.htc);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 5px 5px 5px #787160;
    -webkit-box-shadow: 5px 5px 5px #787160;
    box-shadow: 5px 5px 5px #787160;
}


/* content style */
#content {
    /* nothing yet */
}

/* footer style */
#footer {
    height: auto;
    font-size: 10px;
    padding: 15px 0px;
}
#footer p {
    margin: 2px 0px 2px 0px;
}
#footer img {
    vertical-align: middle;
}


/* form style */
form { padding: 5px; }
form tr th { text-align: left; }
form table input { width: 90%; }
form table input[type=submit] { font-size: 105%; }
form table, form td, form thead {
    border: 0px;
    padding: 2px;
    vertical-align: middle;
}



/* common heading styles */
/*
table, address {
    border: 1px solid #9e957e;
    padding: 4px 5px 0px 5px;

    /* enable css3 features for IE * /
    behavior: url(/s/pie/PIE.htc);

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
*/

/* individual heading styles */
/*
h1.supertitle {
    font-size: 24px;
    text-align: center;
    background: #e68c30 url(../../img/orange-stripes.png) repeat; 
}
table, address {
    margin: 15px 0px 7px 15px;
    clear: both;
}
h3 {
    margin-top: 14px;
}
h4 {
    text-decoration: underline;
}
address {
    border: 0px;
}
@media print {
    h1, h2, h3, h4, h5 {
        background: none;
    }
    h1 {
        border: solid #000 2px;
        color: #000;
    }
    h2 {
        border: solid #000 1px;
        color: #222;
    }
    h3 {
        color: #222;
    }
}*/

/* paragraph style */
/*p, pre, div#gallery {
	padding: 0px 5px 0px 5px;
    margin: 4px 0px 4px 15px;
}
pre {
    width: auto;
    border: 1px solid #9e957e;
    background-color: #eee;
    padding: .5em;
    font-size: 105%;
}*/

/* table style */
/*thead {
    background: #9e957e;
    color: #fff;
    border: 1px solid #9e957e;
    font-weight: bold;
}
td {
    border: 1px solid #9e957e;
    padding: 2px;
}
tr.light { background: #fff; }
tr.dark { background: #eee; }
tr.complete td, tr.complete td a { text-decoration: line-through; color: #999; }*/

/* timetable style */
/*table.timetable { min-width: 500px; }
table.timetable th { background: #e5ecf9; }
table.timetable tbody tr:nth-child(even) td, table.timetable tbody tr.even td { background: none; }
table.timetable caption { color: #fff; background-color: #222; padding: 2px; font-size: 110%; }
table.timetable td { font-size: 90%; padding: 0.25em 0.5em; }*/

/*
    this is a hack for having authors in smaller print than the title
    could not find a way to insert <p> into table cells using wymeditor
*/
/*table.timetable td em { font-size: 85%; }
table.timetable span.file {
    font-size: 85%;
}
@media print {
    table.timetable span.file {
        display: none;
    }
}
*/



/*@media all {
    a { color: #111111; text-decoration: underline; }
    a:hover { color: #e68c30; text-decoration: underline; }
}
@media print {
    a { text-decoration: none; }
    a:link:after,
    a:visited:after { content:" [" attr(href) "] "; font-size: 80%; }
}
*/

/*
h1 a[name], h2 a[name], h3 a[name] {display: none;}
li { padding: 2px 4px; text-align: justify; }
ul.clearitems > li { clear: both; }

@media print {
    #content > div { width: 100% !important; }
}

#content div.right p {
    margin: 2px 0px 2px 0px;
}
#content div.right p img {
    vertical-align: middle;
}
#content strong.img-valign-mid img {
    vertical-align: middle;
}
#content li {
    padding-top: .2em;
    padding-bottom: .2em;
}


#header { height: 90px; }
*/




/* menu and logo basics */
/*
#menu1, #logo { margin-top: 15px; margin-bottom: 15px; }
#menu1 {
    /* background: #9e957e url(../../img/gray-stripes.png); * /
    background: #9e957e url(../../img/body-bg.png) repeat;
}
*/

/*
    color: #eeeeee;
    font-size: 14px;
    font-weight: bold;
    padding: 0px;

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
}
#menu1 li { text-align: center; }
#menu1 a, #menu1 .selected li a {
    display: block;
*/
    /*width: inherit;*/
/*
    padding: 0.1em 0.25em;
    color: #fff;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
}
#menu1 a:hover { background: #f68a1e url(../../img/orange-stripes.png) !important; }
#menu1 .selected a { background: #f68a1e url(../../img/orange-stripes.png); }
#menu1 .selected li a { background: none; }
*/

/* no javascript menu style */
/*
#menu1.nojavascript ul { padding: 0.2em 0.4em; }
#menu1.nojavascript ul ul {

    font-weight: normal;
    margin: 0px 0em 0px 0.5em;
}
#menu1.nojavascript li {
    text-align: left;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
#menu1.nojavascript li li {
    margin-top: 0em;
    margin-bottom: 0em;
}
*/

/*
#menu1, #menu2 li, .highlight {
    /* enable css3 features for IE * /
    behavior: url(/s/pie/PIE.htc);

    -moz-box-shadow: 2px 2px 6px #787160;
    -webkit-box-shadow: 2px 2px 6px #787160;
    box-shadow: 2px 2px 6px #787160;
}
*/


/* styles for twitter plugin */
/*.tweet_list {
    font-size: 90%;
    text-align: left;
}
.tweet_list li {
    margin: 0px;
    border-top: dashed 1px #ccc;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.tweet_first {
    border-top:  0px !important;
}
.tweet_avatar img {
    float: left;
    margin: 0px 1em 0px 0px !important;
}
.twitter-link:before {
    content: url(../../img/twitter.png);
    float: left;
    vertical-align: middle;
    padding: 0px;
}
.twitter-link {
    line-height: 48px;
    font-weight: bold;
}
@media print {
    .tweet_list a:link:after,
    .tweet_list a:visited:after { content: none; }

    .tweet_list li {
        padding-top: .5em !important;
        padding-bottom: .5em !important;
        clear: both;
    }
}


.errorlist { color: #d22; }

span.date {
    font-size: 110%;
    font-weight: bold;
}*/

/* styles for django cms blog plugin */


h1.blog-entrytitle a, h1.blog-entrytitle a:hover {
    /*font-weight:normal;*/
    text-decoration: none;
    color: #000000;/*fff;*/
}
h1.blog-entrytitle a:hover:after {
    font-size: 90%;
    content: " \21B5";
}
p.date {
    border: 1px solid #DA0047;
    /*background: #308BC7;*/
    background: #fff;/*#A7A79F;*/
    color: #000000;/*fff;*/
    text-align: left;
    font-size: 110%;
    margin-bottom: .5em;
    padding: 0px 0px 0px 5px;

    behavior: url(/s/pie/PIE.htc);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
p.entry-tags {
    border: 1px dotted #9e957e;
    font-size: 90%;
    margin-top: 1.5em;
    margin-bottom: 3em;
    clear: both;
  
}

p.entry-tags a, p.entry-tags a:hover{

	color: #DA0047;

}

span.notranslate{
	color: #000000;
}

/* styles for django cms plugins */
.plugin_picture.align-left   { display: block; margin: 2px 0px; float: left; margin-right: 8px; }
.plugin_picture.align-right  { display: block; margin: 2px 0px; float: right; margin-left: 8px; }
.plugin_picture.align-center img { display: block; margin: auto; }
@media print {
    .plugin_picture.align-left,
    .plugin_picture.align-right { float: none; }
    
}



/* hide stuff when printing */
/*@media print {
    #menu1, #social {
        display: none !important;
    }
    * {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        margin: 0;
    }
}
*/
/* pretty photo gallery stuff */
/*div#gallery {
    margin-top: 1em;
    margin-bottom: 1em;
}
span.licence_info {
    color: #222;
    font-size: 9px;
    font-weight: normal;
    line-height: 30px;
}
div.ppt a {
    color: #fff;
    text-decoration: underline;
}
span.location_map {
    font-size: 11px;
}
div.ppt span {
height: 100%;
}
span.fullsize_url {
    display: block;
    float: right;
    font-size: 11px;
    font-style: italic;
    vertical-align: baseline;
}*/


/* debug classes */
.red-border { border: solid red 2px;}
.green-border { border: solid green 2px;}
.blue-border { border: solid blue 2px;}
.black-border { border: solid black 2px;}

/* no shadows here */
body > .container {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}





h1
{
   color: #ffffff;
/*   text-align:center;*/
 }
h2,
h3,
h4,
h5,
h6 {
   color: #000000;
/*   text-align:center;*/
 }


h2 {
    border: 1px solid #9e957e;
    border-radius: 5px;
    clear: both;
    padding-left: 5px;
    padding-right: 5px;
}
 

p {text-align:justify}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
} 
