{% extends 'bootstrap.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block bootstrap3_title %}protasis.eu - restoring trust in the cyber space{% endblock %}

{% block bootstrap3_extra_head %}
<link rel="stylesheet" type="text/css" href="{% static "css/protasis.css" %}"/>
{% endblock %}


{% block bootstrap3_content %}
    <div class="container">
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

<div class="jumbotron text-center">

	<a class="brand"  href="/">
        <img class="hidden-md" width="50%" style="width: 150px;" src="{% static "img/protasis_logo.png" %}" alt="PROTASIS"/>
        <img class="hidden-lg" style="width: 150px;" width="50%" src="{% static "img/protasis_logo.png" %} alt="PROTASIS"/>
	</a>


    	<p class="lead">
    		<h4>PROTASIS: Connecting the dots...</h4>
    	</p> 
</div>

<!--
<div class="navbar navbar-static">
<div class="navbar-inner" >
<ul class="nav nav-pills" role="navigation" >

<li class="active">
		<a href="/">Home</a>
</li>

    </ul>
</div>
</div>
--!>

        {% block content %}(no content){% endblock %}

<!-- footer -->
<div id="footer" class="row-fluid">


   <div class="text-center"> 
	<hr/>
        &copy; 2015 <a href="mailto:protasis-contact@protasis.eu">PROTASIS Project</a>

	</br>

    <img src="{% static 'img/logo_flag_yellow' %}" alt="EU Flag"/>
</br>

This project is funded by the Marie Sklodowska-Curie Research and Innovation Staff Exchange (RISE)

   </div>

</div>

    </div>
{% endblock %}
