{% extends 'bootstrap.html' %}

{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}
{% load proj_rel %}

{% block bootstrap3_title %}protasis.eu - restoring trust in the cyber space{% endblock %}

{% block bootstrap3_extra_head %}
<link rel="stylesheet" type="text/css" href="{% static "css/protasis.css" %}"/>
<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
<style>
@media (min-width: 768px){
    .navbar-nav{
        padding-left: 30px;
    }
}
</style>
{% endblock %}


{% block bootstrap3_content %}
<div class="container">
     {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

    <div class="text-center">

	<!-- <a class="brand"  href="/">
        <img class="hidden-md" width="50%" style="width: 150px;" src="{% static "img/protasis_logo.png" %}" alt="PROTASIS"/>
        <img class="hidden-lg" style="width: 150px;" width="50%" src="{% static "img/protasis_logo.png" %} alt="PROTASIS"/>
        </a> --!>

    	<p class="lead">
        <h4><i class="fa fa-exchange" aria-hidden="true"></i> Cybersecurity Repository</h4>
    	</p>
        <hr>
    </div>

    <div style="margin-top:-18px;" class="navbar navbar-static">
    <div class="navbar-inner" >
    <ul class="navbar-nav nav nav-pills" role="navigation" >
    {% block sidebar %}
    <li><a href="{% url 'index' %} "><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a></li>
    {% if request.user.is_authenticated %}
    <li><a href="{% url 'messages_inbox' %} "><i class="fa fa-inbox" aria-hidden="true"></i>&nbsp;{% trans "Inbox" %} [{{request.user|get_inbox_count}}]</a></li>
    {% endif %}
    {% endblock %}
    </ul>
    </div>
    </div>
    <hr style="margin-top:-18px;">


    {% block content %}(no content){% endblock %}

<!-- footer -->
    <div id="footer" class="row-fluid">
        <div class="text-center"> 
            <hr/>
            &copy; 2015 <a href="mailto:protasis-contact@protasis.eu">PROTASIS Project</a></br>
            <img src="{% static 'img/logo_flag_yellow' %}" alt="EU Flag"/></br>
            This project is funded by the Marie Sklodowska-Curie Research and Innovation Staff Exchange (RISE)
        </div>
    </div>

</div>

{% endblock %}
