{% extends 'base.html' %}
{% load bootstrap3 %}


{% block bootstrap3_title %} {{project}} {% endblock %}


{% block content %}

<row class="clearfix">
    <div class="col-md-12 col-xs-12 no-padding">
        <div class="panel panel-info">

            <div class="panel-heading">
                <b>{{project.title}}</b>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th scope="row" class="col-md-2 col-xs-3">Authors</th>
                        <td>{% for author in project.authors.all %}
{{author.author.short_name}}{% if not forloop.last %}, {% endif %}
{% endfor %}</td>
                    </tr>

                    <tr>
                        <th scope="row" class="col-md-2 col-xs-3">Published in</th>
                        <td>{{project.venue.name}}, {{project.venue.date}}, {{project.venue.location}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-md-2 col-xs-3">Abstract</th>
                        <td>{{project.abstract}}</td>
                    </tr>
                    {% if project.bibtex %}
                    <tr>
                        <th scope="row" class="col-md-2 col-xs-3">Cite</th>
                        <td>{{project.bibtex}}</td>
                    </tr>
                    {% endif %}
                    <tr class="data">
                        <th scope="row" class="col-md-2 col-xs-3"></th>
                        <td class="text-right">
                            <span class="iconspan">
                                {% if project.paper %}<a href="{{project.paper}}">{% endif %}
                                    <i class="{%if not project.paper %}disabled_icon {% endif %}fa fa-lg fa-file-pdf-o"></i>
                                {% if project.paper %}</a>{% endif %}
                            </span>
                            <span class="iconspan">
                                {% if project.code %}<a href="{{project.code}}">{% endif %}
                                    <i class="{%if not project.code %}disabled_icon {% endif %}fa fa-lg fa-code-fork"></i>
                                {% if project.code %}</a>{% endif %}  </span>
                            <span class="iconspan fa-stack fa-lg">
                                {% if project.data %}<a href="{% url 'protected_data' project.pk %}">{% endif %}
                                    <i class="{%if not project.data %}disabled_icon {% endif %}fa fa-stack-1x fa-database"></i>
                                    {% if project.data_protected %}<i class="fa fa-exclamation fa-stack-1x text-danger"></i>{% endif %}
                                {% if project.data %}</a>{% endif %}
                            </span>
                        </td>
                    </tr>

                </table>
            </div>
        </div>

    </div>
</row>
{% endblock %}
