<span class="iconspan">
{% if project.publications %}<a href="{{project.publications}}">{% endif %}
      <i class="{%if not project.publications %}disabled_icon {% endif %}fa fa-2x fa-file-pdf-o"></i>
{% if project.project %}</a>{% endif %}
</span>
<span class="iconspan">
        {% if project.code %}<a href="{{project.code}}">{% endif %}
            <i class="{%if not project.code %}disabled_icon {% endif %}fa fa-2x fa-code-fork"></i>
        {% if project.code %}</a>{% endif %}  </span>
<span class="iconspan">
        {% if project.data %}<a href="url 'protected_data' project.pk">{% endif %}
            <i class="{%if not project.data %}disabled_icon {% endif %}fa fa-2x fa-database"></i>
            {% if project.data_protected %}<i class="fa fa-exclamation fa-stack-2x text-danger"></i>{% endif %}
        {% if project.data %}</a>{% endif %}
</span>
